*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: 1px solid rgb(209, 206, 206);
    border-bottom:1px solid rgb(209, 206, 206);
    height: 75px;
    margin-top: 10px;
    background-color: white;
    
}

.navbar-brand img{
    width: 170px;
    height: 100px;
}
.search{
    width: 400px;
    margin-left: 20px;
    outline-color: rgb(102, 101, 101);
}

.phone-icon{
    margin-left: 20px;
    margin-right: 10px;
   
    
}
.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 0.5rem;
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(54, 54, 54);
}

.navbar .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    right: -10px; 
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    margin-left: 20px;
    border-right: 2px solid rgb(224, 219, 219);
}

.navbar .navbar-nav .nav-item:nth-last-child(1) .nav-link::after,
.navbar .navbar-nav .nav-item:nth-last-child(2) .nav-link::after {
    border-right: none;
}

.nav {
    border-bottom:1px solid rgb(209, 206, 206) ; 
    height: 55px;
}
.nav .nav-item .nav-link{
    position: sticky;
    top: 0;
    z-index: 999;
    color: rgb(78, 78, 78);
    font-weight: 400;
    margin-left: 15px;
    text-align: center;
    margin-top: 6px;
    
    background-color: white;
    
}
@media (max-width:768px){
    .navbar{
        border-top: none;
        border-bottom: none;
    }
    .navbar-brand img{
        margin-top: -25px;
    }
    .navbar-toggler{
        margin-top: -15px;
    }
    .nav {
        margin-top: 100px;
        border-bottom: none;
    }
}
.main{
    margin-top: 60px;
    
}
#img-contanier img{
    margin-left: 9%;
}
.box{
    background-color: rgb(246, 250, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.box1{
    margin-top: 40px;
    margin-left: 30px;
    padding: 10px;
    font-weight: 800;
    
    color: rgb(54, 54, 54);
}

.sub-box1 {
     display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    background-color: azure;
    border-radius: 15px;
}
.sub-box1 .col{
    display: flex;
    align-items: center;
    margin-left: 10px;
   
}
.sub-box1 .col img {
    max-width: 50px; 
}
.sub-box1 .col p{
    margin-left: 10px; 
    font-weight: 500;
    padding-top: 8px;
    
}
#download-app img{
    margin-right: 10px;
}
#download-app{
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: antiquewhite;
}
@media (max-width:768px){
    .main{
       margin-top: 150px;
       /* height: 700px; */
    }
    #img-contanier img{
        width: 400px;
        margin-top: 20px;
        margin-left: 4px;
    }

}

.top{
    margin-top: 50px;
}
.title{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 40px;
    white-space: nowrap;
}
.title::before, .title::after{
    content: "";
    flex: 1;
    height: 1px;
    background-color: rgb(187, 14, 135);
    margin: 0 10px;
}
.title::before {
    margin-right: 70px;
}
.title::after {
    margin-left: 50px;
}
@media (max-width:768px){
    .title{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        white-space: nowrap;
    }
    .title::before, .title::after{
        content: "";
        flex: 1;
        height: 2px;
        background-color: rgb(187, 14, 135);
        margin: 0 10px;
    }
    .title::before {
        margin-right: 50px;
    }
    .title::after {
        margin-left: 50px;
    }
}
.fashion{

    margin-top: 45px;
    margin-bottom: 5px;
    height: 540px;
    background-color: rgb(122, 6, 83);
}
 #fashion-card{
    margin-top: 70px;
    margin-left: 30px;
    background-color: rgb(247, 244, 241);
    height: 430px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
}
#fashion-card h4{
    margin-top: 5px;
    margin-left: 80px;
    font-size: 30px;
    color: rgb(194, 20, 165);
}
 #fashion-card .fashion-item {
    width: 50%; 
    margin-bottom: 10px;
    margin-top: 20px;
}
 #fashion-card .fashion-item img {
    width: 160px; 
    height: 130px;
}
 #fashion-card .fashion-item h5 {
    text-align: center;
    margin-top: 5px;
    font-size: medium;
}

.fashion #be-fashion{
   position: relative;
    margin-top: 80px;
   
}
.fashion #be-fashion h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: aliceblue;
}


/* be mens */


.fashion #be-mens{
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-left: -5px;
    position: absolute;
    width: 320px;
    height: 296px;
    background-color: antiquewhite;
    border-radius: 20px;
    
} 
 #be-mens h4{
    margin-top: 5px;
    margin-left: 80px;
    font-size: 20px;
    color: rgb(194, 20, 165);
}
 #be-mens .fashion-mens{
    margin-right: 5px;
    margin-left: 10px;
    width: 130px;
    height: 100px;
}
 .fashion-mens img{
    margin-top: -20px; 
    width: 130px;
    height: 100px;
}
.fashion-mens h5{
    font-size: 15px;
    text-align: center;
    color: rgb(77, 75, 75);
    margin-bottom: 20px;
}




.fashion #be-kids{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px; 
    margin-left: 330px;
     width: 320px;
    height: 296px;
    background-color: antiquewhite;
    border-radius: 20px;

} 
#be-kids h4{
    margin-top: 5px;
    margin-left: 80px;
    font-size: 20px;
    color: rgb(194, 20, 165);
}
#be-kids .fashion-kids{
    margin-right: 5px;
    margin-left: 10px;
    width: 130px;
    height: 100px;
}
.fashion-kids img{
    margin-top: -20px; 
    width: 130px;
    height: 100px;
}
.fashion-kids h5{
    font-size: 13px;
    text-align: center;
    color: rgb(77, 75, 75);
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .fashion{
        height: 500px;
    }
    #fashion-card{
        margin-top: 50px;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    #fashion-card .fashion-item {
        width: 50%; 
        margin-bottom: 10px;
        margin-top: 20px;
    }
     #fashion-card .fashion-item img {
        width: 160px; 
        height: 130px;
    }
     #fashion-card .fashion-item h5 {
        text-align: center;
        margin-top: 5px;
        font-size: medium;
    }
}


.essentials{
    margin-top: 70px;
    margin-bottom: 5px;
    height: 540px;
    
    background-color: rgb(122, 6, 83);
}
.essintials-side1{
    margin-top: 52%;
    margin-left: 24%;
    font-size: 50px;
    font-weight: 700;
    color: antiquewhite;
}
 
#view-all{
    font-size: 25px;
    font-weight: 700;
    color: rgb(236, 234, 238);
    background-color: rgb(245, 144, 11);
    border-radius: 20px;
    border: none;
}

@media screen and (max-width:768px){
    .essentials{
        margin-top: 140%;
        margin-bottom: 5px;
        height: 540px;
        
        background-color: rgb(122, 6, 83);
    }
}
 
#home-kitchen-health{
    margin-top: 11%;
    
    
}
#home-kitchen-health #home,
#home-kitchen-health #kitchen,
#home-kitchen-health #health{
    background-color: antiquewhite;
    margin-right: 17px;
    width: 210px;
    height: 330px;
    border-radius: 20px;
}
#home-kitchen-health #home img,
#home-kitchen-health #kitchen img,
#home-kitchen-health #health img{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
   width: 150px;
   height: 130px;
   border-radius: 20px;
   
}

 #home1 .home-Button,
 #kitchen1 .kitchen-Button,
 #health1 .health-Button{
     margin-top: 15px;
     margin-left: 5px;
     width: 150px;
     height: 40px;
     color: rgb(94, 4, 71);
     font-weight: 700;
     font-size: 16px;
     border: none;
     border-radius: 15px;
}
/* new style */

.newstyles{
    margin-top: 70px;
    margin-bottom: 5px;
    height: 540px;
    
    background-color: rgb(122, 6, 83);
}
.newstyles-side1{
    margin-top: 52%;
    margin-left: 24%;
    font-size: 50px;
    font-weight: 700;
    color: antiquewhite;
}
 
 #new-view-all{
    /* margin-top: 30px;
    margin-left: 120px;
    width: 140px;
    height: 60px; */
    font-size: 25px;
    font-weight: 700;
    color: rgb(236, 234, 238);
    background-color: rgb(245, 144, 11);
    border-radius: 20px;
    border: none;
}


 
#Accessories-footware-electronics{
    margin-top: 11%;
    
    
}
#Accessories-footware-electronics #Accessories,
#Accessories-footware-electronics #footware,
#Accessories-footware-electronics #electronics{
    background-color: antiquewhite;
    margin-right: 17px;
    width: 210px;
    height: 330px;
    border-radius: 20px;
}
#Accessories-footware-electronics #Accessories img,
#Accessories-footware-electronics #footware img,
#Accessories-footware-electronics #electronics img{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
   width: 150px;
   height: 130px;
   border-radius: 20px;
   
}

 #Accessories1 .Accessories1-Button,
 #footware1 .footware1-Button,
 #electronics1 .electronics1-Button{
     margin-top: 15px;
     margin-left: 5px;
     width: 150px;
     height: 40px;
     color: rgb(94, 4, 71);
     font-weight: 700;
     font-size: 16px;
     border: none;
     border-radius: 15px;
}


.online-business{
    margin-top: 70px;
    margin-bottom: 5px;
    height: 540px;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("./images/downloadBannerDesktop.webp");
    
}

#on-bu{
    margin-top: 60px;
    
}
#on-bu h3{
    margin-left: 53%;
    color: rgb(86, 144, 190);
    font-size: 29px;
}
#on-bu h1{
    margin-top: 20px;
    margin-right: 40px;
    color: rgb(145, 30, 120);
    font-size: 50px;
}

#on-bu1, #on-bu2 {
    margin-top: 30px;
}

#on-bu1 img, #on-bu2 img {
    width: 190px;
    height: 50px;
}

.products1{
    margin-top: 50px;
    border: 1px solid rgb(221, 40, 161) ;
    
}
.products1 .prods img{
    width: 400px;
    height: 200px;
}


#footer2{
    width: 93%;
    height: 500px;
    margin-top: 5%;
   margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center; 
     background-color:rgb(122, 6, 83) 
} 
#footer2 .flex-container{ 
    margin-top: -5%;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center;   
    }
#footer2 .flex-li{
   
    color: rgb(228, 226, 224);
    
}
#footer2 .flex-li ul{
    margin-left: 40px;
    list-style-type: none;
    font-weight: bold;
    
}
#footer2 .flex-li ul li{
    
    font-weight: 420;
    line-height: 27px;
}
#footer2 .footlogo{
    margin-top: 30%;
    
}
#footer2 .footlogo img{
    width: 180px;
    height: 70px;
    display: block;
    margin-left: -260%;
    background-color:rgb(233, 227, 231);
    border: 2px solid rgb(207, 205, 201);
    border-radius: 6px;
}